services:
  - type: web
    name: anaros-spa
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: DATABASE_URL
        scope: build
      - key: SESSION_SECRET
        scope: build
